.headerout{
    width: 100%;
    height:50px;
    background-color: #000;
    float:left;
    position:fixed;
    top:0;
    z-index:10;
}
.headerlogo{
    width: 183px;
    height:100%;
    background-image: url(../../assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: 40% 0%;
    float:left;
    margin-right:38px;
    cursor: pointer;
}
.headercenter{
    float:left;
    height:100%;
    width: 334px;
}
.headercenter ul{
    list-style: none;
}
.headercenter ul li{
    float:left;
    width: 65px;
    height:100%;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
}
.headercenter ul li a{
    text-decoration:none;
    color:#ccc;
    font-size:15px;
}
.headercenter ul li:first-child a{
    color:#52e2b4 !important; 
}
.headercenter ul li:hover{
    background-color: rgba(226, 212, 212, 0.2);
}
.headercenter ul li:hover a{
    color:#52e2b4 !important;
}


/* 最右边登陆 */
.denglu{
    float: right;
    height:50px;
    width: 135px;
    line-height: 50px;
}
.denglu a{
    text-decoration:none;
    color:#ccc;
    font-size:15px;
    width: 44px;
}
.denglu a:first-child{
    border-right: 1px #666 solid;
    padding-right:11px;
    margin-right: 15px;
}
.denglu a:hover{
    color:#52e2b4;
}
/* 中部vip部分 */
.centervip{
    float: right;
    height:50px;
    width: 160px;
}
.centervip .vip,.centerheart{
    width: 24px;
    float: left;
    height:50px;
    position: relative;
}
.centerheart{
    margin-left:8px;
}
.centervip .vip a,.centerheart a{
    position: absolute;
    top:15px;
    display:block;
    width: 24px;
    height:50%;
    background-image: url(../../assets/images/new_topbar.png);
    background-repeat: no-repeat;
    background-position: 79% 0%; 
}
.vip a{
    background-position: 79% 0%; 
}
.centerheart a{
    background-position: 32% 0%; 
}
.centervip .vip a:hover{
    background-position: 67% 0%;
}
.centerheart a:hover{
    background-position: 21.5% 0%;
}

.centervip .centerapp,.centervip .centerupload{
    position: relative;
    cursor: pointer;
    margin-left:16px;
    float: left;
    width: 25px;
    height:50px;
    background-image: url(../../assets/images/new_topbar.png);
    background-repeat: no-repeat;
}
.centervip .centerapp{
    background-position: 11% -15%;
}
.centervip .centerupload{
    background-position: 55% -15%;
}
.centervip .centerapp:hover{
    background-position: 0% -15%;
}
.centervip .centerupload:hover{
    background-position: 44% -15%;
}
.centervip .centerapp:hover .app,.centervip .centerupload:hover .upload{
    height: 102px;
}
.centervip .centerapp .app,.centervip .centerupload .upload{
    position: absolute;
    width: 100px;
    top:50px;
    background-color: #222;
}
.centervip .centerapp .app ul,.centervip .centerupload .upload ul{
    list-style: none;
}

.centervip .centerapp:hover .app ul li,.centervip .centerupload:hover .upload ul li{
    height:33px; 
}
.centervip .centerapp .app ul li,.centerupload .upload ul li{
    line-height: 33px;
    text-align: center;
    height:0px;
    transition: all 0.4s;
}
.centervip .centerapp .app ul li:hover,.centerupload .upload ul li:hover{
    background-color: rgba(226, 212, 212, 0.2);
}
.centervip .centerapp .app ul li a,.centerupload .upload ul li a{
    text-decoration:none;
    font-size:13px;
    visibility:hidden;
}
.centervip .centerapp:hover .app ul li a,.centerupload:hover .upload ul li a{
    visibility: visible;
    color:#ccc;
}
/* 输入框的样式 */
.centerinput{
    background-color: #dcdbdb;
    float:right;
    width: 220px;
    height: 30px;
    margin-top:9px;
    margin-right:26px;
    position: relative;
    border-radius: 2px;
}
.centerinput .kong{
    float:left;
    height: 30px;
    width: 12px;
}
.centerinput button{
    position: absolute;
    top:5px;
    right:3px;
    width: 20px;
    height: 20px;
    background: url(../../assets/images/topbar_sprite4.png) no-repeat  -262px -25px;
    border:none;
    cursor: pointer;
    outline: none;
}
.input{
    position: absolute;
    width: 178px;
    height: 30px;
    left:10px
}
.input input{
    margin-top:9px;
    width: 100%;
    color:#898989;
    outline: none;
    border:none;
    background-color: transparent;
    font-size:12px !important;
}
/* 搜索排行榜 */
.topelse{
    width: 220px;
    background-color: #000;
    position: absolute;
    top:41px;
    display: none;
}
.topelse ul{
    list-style: none;
}
.topelse ul li{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color:#fff;
    position: relative;
    padding-left:30px;
    cursor: pointer;
}
.topelse ul li:hover{
    background-color: rgba(248, 245, 245, 0.3);
}
.topelse ul li a{
    color:#fff;
    text-decoration:none;
}
.topelse ul li .number{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #dedede;
    position: absolute;
    top:7px;
    left:5px;
    line-height: 16px;
    text-align: center;
    color:#000;
}
.topelse ul li:nth-child(1) .number{
    background-color: #ff6666;
    color:#fff;
}
.topelse ul li:nth-child(2) .number{
    background-color: #3be3ff;
    color:#fff;
}
.topelse ul li:nth-child(3) .number{
    background-color: #33ffc5;
    color:#fff;
}